body {
    background-image: url("../images/lotr3.jpg");
    

    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-attachment: fixed;

    
}

#container{
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-gap: 20px; 
}

#startBtn{
    display: grid;
    grid-column: 1/7;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    font-size: 100px;
    font-weight: bolder;
    cursor: pointer;
    top: 50%;
    left: 50%;

}

#clockBox{
    display: none;
    height: 250px;
    width: 250px;
    margin: auto 0;
    
}

#gameBox {
    display: none;
    grid-column: 2/7;
    height: 500px;
    padding: 0;
    background-image: url("../images/transparent.png");
}

#gameBox h1 {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 25px;
    color: white;
    
}

#gameBox h2 {
    margin: auto;
    font-size: 35px;
    color: white;
    text-align: center;
}

#gameBox div {
    color: white;
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;
    margin: 10px 0;
}

#gameBox div:hover {
    background-color: orange;
}

#clockBox h1 {
    text-align: center;
    margin: auto 0;
    font-size: 100px;
    /* font-family: 'Audiowide', cursive; */
    font-family: 'Rye', cursive;
    /* font-family: 'Astloch', cursive; */
    color: antiquewhite;
}

#clockBox p {
    text-align: center;
    margin: auto 0;
    font-size: 50px;
    /* font-family: 'Audiowide', cursive; */
    /* font-family: 'Astloch', cursive; */
    font-family: 'Rye', cursive;
    font-weight: bolder;
    color: antiquewhite;
}

img {
    margin: auto;
}

#gameBox div {
    font-size: 35px;
    padding: auto 10px;
    font-weight: bold;
}